<% include ../layout/header %>
<div class="content-wrapper">
    <div class="content-header sty-one">
        <h1>Staff List</h1>
        <ol class="breadcrumb">
            <li><a href="dashboard">Home</a></li>
            <li><i class="fa fa-angle-right"></i>Staff List</li>
        </ol>
    </div>

    <div class="content">

        <div class="row">
            <div class="col-xl-12">
                <div class="info-box">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example1" class="table table-bordered table-striped table-button">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Staff Name</th>
                                        <th>Staff Code</th>
                                        <th>Staff Mobile</th>
                                        <th>Staff Email</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyDatasddd">
                                    <% sr=1; data.forEach(function(res){
                                        dataId=res['_id'] %>
                                        <tr>
                                                <td><%= sr %></td>
                                                <td><%= res['staffName'] %></td>
                                                <td><%= res['staffPostalCode'] %></td>
                                                <td><%= res['staffMobile'] %></td>
                                                <td><%= res['staffEmailId'] %> </td>
                                                <td>
                                                    <div class="mytoggle">
                                                        <label class="switch">
                                                            <% if(res['status']==1){ %>
                                                               <input type="checkbox"  onchange="changeStatus(this,'<%=dataId%>','0')" checked="" >
                                                            <% }else{ %>
                                                               <input type="checkbox" onchange="changeStatus(this,'<%=dataId%>','1')" >
                                                            <% } %>
                                                                <span class="slider round"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td><a href="staff-detail?id=<%=dataId%>">View </a></td>
                                            </tr>
                                        <% sr++ } )%>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
 <% include ../layout/footer %>
 <script>
    
 axios.post('/api/staffList',{})
    .then((response)=>{
        var result=response.data.data;
        if(response.data.code==100){
            var htmlData='';var sr=1;
            $("#tbodyData").empty();
            result.forEach(function(res){
                // console.log(res);
                htmlData='<tr>'
                            +'<td>'+sr+'</td>'
                            +'<td>'+res['staffName']+'</td>'
                            +'<td>'+res['staffPostalCode']+'</td>'
                            +'<td>'+res['staffMobile']+'</td>'
                            +'<td>'+res['staffEmailId']+' </td>'
                            +'<td>'
                                +'<div class="mytoggle">'
                                    +'<label class="switch">'
                                        if(res['status']==1){
                                            htmlData+='<input type="checkbox" onchange="changeStatus(this,\''+res['_id']+'\',0)" checked="" >'
                                        }else{
                                            htmlData+='<input type="checkbox" onchange="changeStatus(this,\''+res['_id']+'\',1)" >'
                                        }
                                        htmlData+='<span class="slider round"></span>'
                                    +'</label>'
                                +'</div>'
                            +'</td>'
                            +'<td><a href="staff-detail?id='+res['_id']+'">View </a></td>'
                        +'</tr>';
                        // console.log(htmlData)
                $("#tbodyData").append(htmlData);
                sr++;
            })
            $("#footerDiv").load(location.href + " #footerDiv");
        }},(e)=>{
            
        });

    function changeStatus(obj,id,status){
        if(id){
            axios.post('/api/staffStatusChange',{status:status,staffId:id})
                .then((response)=>{
                    var result=response.data.data;
                    if(response.data.code==100){
                       location.reload();
                    }},(e)=>{
                        
                    });
        }
    }
 </script>